<header class="masthead" style="background-image: url('assets/images/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{title}}</h1>
          <span class="subheading">{{subtitle}}</span>
          <span class="meta" *ngIf="byline.length > 0" ng-bind="header.byline">
            {{byline}}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
