<div *ngFor="let category of categories; let first = first; let last = last">
  <hr *ngIf="first">
  <div class="row">
    <div class="col-lg-8 vertical-align">
      {{category.name}}
    </div>
    <div class="col vertical-align" style="justify-content: flex-end;">
      <div class="btn-group float-right" role="group">
        <button class="btn btn-secondary btn-sm" role="button" (click)="editCategory(category)">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-danger" role="button" (click)="deleteCategory(category.id)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
  <hr>
</div>
